In [17]:
#Configuración. Primero me importo las librerias necesarias para el ejercicio

#Tratamiento de datos
# ---------------------------------------
import pandas as pd
import numpy as np

#Visualización
#-----------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

#para configurar los dataframes y ver todas las columnas 
pd.set_option('display.max_columns', None)

Fase 1: Exploración y limpieza

In [39]:
#Lectura del fichero Customer Flight Activity
customer_flight = pd.read_csv('Customer Flight Activity.csv')
customer_flight

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
405619,999902,2018,12,0,0,0,0,0.0,0,0
405620,999911,2018,12,0,0,0,0,0.0,0,0
405621,999940,2018,12,3,0,3,1233,123.0,0,0
405622,999982,2018,12,0,0,0,0,0.0,0,0
405623,999986,2018,12,0,0,0,0,0.0,0,0

In [40]:
##Lectura del fichero Customer Loyalty History
customer_loyalty = pd.read_csv('Customer Loyalty History.csv')
customer_loyalty

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16732,823768,Canada,British Columbia,Vancouver,V6E 3Z3,Female,College,NaN,Married,Star,61850.19,Standard,2012,12,NaN,NaN
16733,680886,Canada,Saskatchewan,Regina,S1J 3C5,Female,Bachelor,89210.0,Married,Star,67907.27,Standard,2014,9,NaN,NaN
16734,776187,Canada,British Columbia,Vancouver,V5R 1W3,Male,College,NaN,Single,Star,74228.52,Standard,2014,3,NaN,NaN
16735,906428,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,-57297.0,Married,Star,10018.66,2018 Promotion,2018,4,NaN,NaN
16736,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,83325.38,Standard,2015,12,2016.0,8.0

In [41]:
#EDA - customer_flight
customer_flight.head() #me muestra las primeras filas del DF
customer_flight.sample(3) #me muestra 3 filas del DF
customer_flight.shape #filas y columnas tenemos en el DF
customer_flight.columns #nombres de las columnas del DF
customer_flight.info() #nos muestra el número de columnas ordenadas, cuantos datos hay, de que tipo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [42]:
#Vamos a ver los valores unicos de la columna flights booked 
customer_flight['Flights Booked'].unique ()

array([ 3, 10,  6,  0,  8, 11,  9,  4,  7,  5,  2,  1, 12, 13, 14, 16, 15,
       17, 18, 19, 20, 21])

In [43]:
#Tenemos nulos en customer_flight?
customer_flight.isnull().sum()

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

No tenemos nulos en el DF customer_flight

In [44]:
#Tenemos valores duplicados en el customer_flight?
customer_flight.duplicated().sum().sum()

1864

Si tenemos duplicados en el DF customer_flight

In [47]:
#Vamos a eliminar los valores duplicados en el DF customer_flight
customer_flight.drop_duplicates(inplace=True)

customer_flight.duplicated().sum()

0

Ahora ya no tenemos valores duplicados

In [26]:
#EDA - customer_loyalty 
customer_loyalty.head() #me muestra las primeras filas del DF
customer_loyalty.sample(3) #me muestra 3 filas del DF
customer_loyalty.shape #muestra la cantidad de filas y columnas que tenemos en el DF
customer_loyalty.columns #nombres de las columnas del DF
customer_loyalty.info() #nos muestra el número de columnas ordenadas, cuantos datos hay, de que tipo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

In [48]:
#Seleccionamos solo las columnas de tipo catégorico del DF. Después mostramos los valores únicos y sus frecuencias para cada una de las columnas seleccionadas. 
customer_loyalty.describe(include = 'object').T

                 count unique       top   freq
Country          16737      1    Canada  16737
Province         16737     11   Ontario   5404
City             16737     29   Toronto   3351
Postal Code      16737     55   V6E 3D9    911
Gender           16737      2    Female   8410
Education        16737      5  Bachelor  10475
Marital Status   16737      3   Married   9735
Loyalty Card     16737      3      Star   7637
Enrollment Type  16737      2  Standard  15766

In [27]:
#Tenemos nulos en customer_flight?
customer_loyalty.isnull().sum()

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64

Las columnas Salary, Cancellation Year y Cancellation Month tienen valores nulos

In [31]:
#Tenemos valores nulos en la columna salary? 
customer_loyalty['Salary'].isnull().sum()

4238

In [49]:
#Exploración de nulos. Vemos porcentajes de nulos 

customer_loyalty.isnull().sum()[customer_loyalty.isnull().sum()>0]/customer_loyalty.shape[0]*100

Salary                25.321145
Cancellation Year     87.650117
Cancellation Month    87.650117
dtype: float64